dt {
	margin-top: 2em;
	font-weight:bold;
}

dd {

}
fieldset {
	display:block;
	margin:0 1% 0 1%;
	clear:none;
}

legend {
	font-weight:bold;
	padding:0;
	margin:0;
	font-size:130%;
	padding-top:0em;
}

.default {
	display:block;
	padding-left: 1em;
	font-size:90%;
	color:#666;
}

.description {
	display:block;
}

.grid50 {
	float:left;
	display:block;
	text-align:left;
	margin:0 1% 0 1%;
	width:48%;
	overflow:auto;
}

.clearcolumns {
	clear:both;
}

.error-msg {
	color: #990000;
}

.ok-msg {
	color: #009900;
}

.ui-tabs-nav {
	list-style-type: none;
}

.ui-tabs-nav a {
	outline: 0;
	text-decoration: none;
	font-size: 120%;
}


.ui-state-default {
	display: inline-block;
	width: auto;
	padding: 0.5em 2em 0.5em 2em;
}

.ui-tabs-selected,
.ui-state-active {
	background-color: #ccc;
}
